<main>
    <h1>Inventory Management</h1>

    <!-- Flash Message Display -->
    <% console.log(messages); %> 
    <% if (Array.isArray(messages) && messages.length > 0) { %>
        <div class="flash-message">
            <% messages.forEach(function(message) { %>
                <p><%= message %></p>
            <% }); %>
        </div>
    <% } %>
    
    <div class="management-container">
        <div>
            <a href="/inv/add-classification">Add New Classification</a>
        </div>
        <div>
            <a href="/inv/add-inventory">Add New Inventory Item</a>
        </div>
    </div>
</main>